services:
  crypto-alert-bot:
    image: crypto-alert-bot
    container_name: crypto-alert-bot
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - ./settings/.secrets
    environment:
      CHECK_INTERVAL_MINUTES: "5"
      NOTIFY_COOLDOWN_HOURS: "24"
      DB_PATH: "/app/alerts.db"
    volumes:
      - ./alerts.db:/app/alerts.db
    command: sh -c "pdm run start_bot"